*{
    margin: 0px;
    padding: 0px;
}
input{
    font-size: 33px;
    border-radius: 15px;
}
table{
    margin-top: 20px;
}
button{
    font-size: 36px;
    width: 102px;
    margin-top: 5px;
    border: 2px solid pink;
    box-shadow: 5px 5px 2px 2px;
    border-radius: 5px;
}
.bor{
    border: 1px solid black;
    display: inline-block;
    padding: 15px;
    background-color: yellow; 
    border-radius: 20px;   
}